{% extends 'base.html' %}

{% block title %} Add Post  {% endblock title %}

{% block content %}

{% if posts  %}


     {% for post in posts%}
     <div>
        {% if user_name %}
          <b>   Author :  {{ user_name }} </b> <br>
        {% else %}
          <b>   Author :  {{ Users.query.filter_by(id=post.user_id).first().user_name }} </b> <br>
        {% endif %}

        Title : {{ post.title }}<br>
        
        <img src="{{ url_for('static', filename='/images/' + post.file) }}" alt="image " width="400" height="400"/><br>

        Content : {{ post.content }}<br>
        Date :  {{ post.date_posted }}<br>
       <br><br>
      </div>
      {% endfor %}

{% else %}
   <h2> You post is not available please add some post </h2>

{% endif %}



{% endblock %}